@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat";
  margin: 0;
  border-radius: 10px;
}

body {
  background-color: rgb(155, 155, 155);
}

.d-flex {
  display: flex;
}

.by {
  font-weight: bold;
}

.tema {
  color: #02a28f;
}

.data {
  color: #616161;
}

header {
  height: 70px;
  background-color: #02a28f;
  display: flex;
  align-items: center;
}

.NomeSite p {
  font-size: 36px;
  font-weight: 800;
  width: 400px;
}

header,
footer {
  border-radius: 0px;
}

header,
main,
footer {
  padding: 16px 156px;
}

main {
  justify-content: center;
  padding: 16px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.principal {
  flex-direction: column;
  width: 744px;
  gap: 20px;
}

.opiniao {
  align-items: end;
  padding: 24px;
  height: 396px;
  background-image: url("../assets/principal.jpg");
  background-size: cover;
}

.tema-hero p {
  font-size: 16px;
}

.posts-recentes {
  flex-direction: column;
  gap: 10px;
}

.barra {
  justify-content: space-between;
  padding: 16px 25px;
  background-color: #02a28f;
  box-shadow: 0 7px 2px -2px rgb(98, 98, 98);
}

.ptr {
  font-size: 20px;
  font-weight: 700;
}

.ver-todos {
  font-weight: 300;
  font-size: 14px;
  border-bottom: 1px solid;
  border-radius: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 10px;
}

.card {
  height: 420px;
  background-color: white;
  width: 360px;
  box-shadow: 0 7px 2px -2px rgb(98, 98, 98);
}

.banner img {
  width: 100%;
  height: 191px;
}

.caixa-texto {
  height: 220px;
  padding: 5px 15px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card p {
  font-size: 14px;
}

.aside {
  width: 361px;
  flex-direction: column;
  gap: 20px;
}

.posts-populares {
  flex-direction: column;
  gap: 10px;
}

.side-cards {
  flex-direction: column;
  gap: 7px;
}

.side-card {
  padding-left: 12px;
  height: 90px;
  gap: 10px;
  background-color: white;
  box-shadow: 0 7px 2px -2px rgb(98, 98, 98);
}

.texto-popular {
  margin-top: 12px;
  width: 172px;
  font-size: 12px;
  flex-direction: column;
  gap: 5px;
}

.titulo-popular {
  font-size: 14px;
  font-weight: 700;
}

.side-card img {
  align-self: center;
  width: 132px;
  height: 65px;
}

.categorias {
  flex-direction: column;
  gap: 10px;
}

.temas {
  flex-direction: column;
  gap: 8px;
}

.temas p {
  font-weight: 600;
  font-size: 16px;
}

.fake-filter {
  border-bottom: 1px solid;
  cursor: pointer;
  border-radius: 0px;
}

footer {
  background-color: #02a28f;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  width: 500px;
}

@media (min-width: 517px) and (max-width: 745px) {
  .principal {
    width: 520px;
  }
  .card {
    width: fit-content;
    height: fit-content;
  }

  .caixa-texto {
    flex-wrap: wrap;
  }
}

@media (max-width: 515px) {
  header {
    padding: 16px;
    display: flex;
    justify-content: center;
  }
  .NomeSite p {
    font-weight: 500;
    font-size: 24px;
    width: 180px;
    height: 29px;
  }
  main {
    justify-content: center;
  }
  .opiniao {
    align-self: center;
    width: 300px;
  }

  .principal {
    width: fit-content;
    justify-content: center;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .cards {
    justify-content: center;
  }

  footer {
    padding: 16px;
    display: flex;
    justify-content: center;
  }
  footer p {
    font-weight: 400;
    font-size: 14px;
    width: 185px;
  }
}
